= t('mails.user_welcome.greeting', recipient: @user.forename)
br
br
== t('mails.user_welcome.text', event_link: link_to(t('mails.user_welcome.event_link_label'), events_url)).gsub("\n\n", '<br /><br />')
br
br
== t('mails.user_welcome.goodbye').gsub("\n\n", '<br /><br />')
