ruby:
  get_params = request.query_parameters.keys
  pictures = list = false
  pictures = true if get_params.include?('pictures')
  list = true if get_params.include?('list')

.users
  - if list || pictures
    = render 'shared/subnav',
             items: t('users.subnav'),
             active: list ? 'list' : 'pictures'
  - if list
    = render 'list',
             active_members: @active_members,
             users: @users
  - elsif pictures
    = render 'pictures',
             users: @users,
             statement_users: @statement_users,
             video_users: @video_users
    coffee:
      window.modalManager = new window.ModalManager()
  - else
    = render 'admin_index',
             users: @admin_users
