ruby:
  type = 'secondary' unless defined?(type) && type
  href = '#' unless defined?(href) && href
  label = '' unless defined?(label) && label
  aria_label = '' unless defined?(aria_label) && aria_label
  confirm = '' unless defined?(confirm) && confirm
  method = 'get' unless defined?(method) && method
  tooltip = false unless defined?(tooltip) && tooltip
  icon = nil unless defined?(icon) && icon
  data = {} unless defined?(data) && data
  class_name = '' unless defined?(class_name) && class_name
  turbolinks = true unless defined?(turbolinks) && turbolinks == false
  button_content = render 'shared/button_content',
                          icon: icon,
                          label: label

  if type == 'submit' || (defined?(disable_with) && disable_with == true)
    disable_with = render 'shared/button_content',
                          icon: 'spinner',
                          label: label
  end

  if defined?(disable_with) && disable_with
    data[:disable_with] = disable_with.tr('"', "'")
  end

  title = ''
  if tooltip
    title = tooltip
    data[:toggle] = 'tooltip'
    data[:placement] = 'bottom'
  end

  data[:confirm] = confirm if confirm != ''
  data[:method] = method if method != 'get'
  data[:turbolinks] = false unless turbolinks

  attributes = {}
  attributes[:rel] = 'nofollow' unless method == 'get'
  attributes[:title] = title unless title == ''

  class_name += 'btn'

- if defined?(group)
  .btn-group role='group' aria-label="#{aria_label}"
    - group.each do |button|
      = render partial: 'shared/button', locals: button

- elsif type == 'submit'
    - if href == '#'
      button.btn.btn-primary class="#{class_name}" name='button' type='submit' data=data
        == button_content

    - else
      a.btn.btn-primary class="#{class_name}" href="#{href}" data=data *attributes
        == button_content

- elsif type == 'back'
  a.btn.btn-secondary class="#{class_name}" href='javascript:history.back()' data=data
    == render 'shared/button_content',
              icon: 'chevron-left',
              label: t('back')

- else
  a.btn class="btn-#{type} #{class_name}" href="#{href}" data=data *attributes
    == button_content

