- if user.youtube_id
  .image style="background-image: url('http://img.youtube.com/vi/#{user.youtube_id}/0.jpg')"
- elsif user.vimeo_id
  iframe.embed-responsive-item src="https://player.vimeo.com/video/#{user.vimeo_id}" frameborder='0' allowfullscreen
