.container-fluid {
  > div {
    &.about {
      padding: 0;
    }
  }
}

.about {

  %headings-with-margins {
    h1,
    h2,
    h3,
    h4,
    h6 {
      font-weight: 600;
      margin-bottom: 22px;
      margin-top: 55px;
    }
  }

  %headings-without-margins {
    h1 {
      font-weight: 600;
      margin-bottom: 22px;
      margin-top: 55px;
    }

    h2,
    h3,
    h4,
    h6 {
      margin-bottom: 0;
      margin-top: 0;
    }
  }

  [alt='Hero'] {
    border: 1rem solid $red;
    height: 60vw;
    margin: 0 -1rem;
    width: calc(100% + 2rem);

    @include media-breakpoint-up(md) {
      margin: 0 calc(-25% - 1.5rem);
      width: calc(150% + 3rem);
    }

    @media (min-width: $mobile-breakpoint-width) {
      height: 498px;
    }
  }

  .intro,
  .team,
  .partner,
  .press-reviews,
  .contact {
    margin: 0 0 2rem;
  }

  .team,
  .partner,
  .press-reviews,
  .contact {
    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul {
      width: 100%;

      li {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .intro {
    @extend %headings-with-margins;
  }

  .team {
    @extend %headings-without-margins;

    ul {
      li {
        margin: .5rem 0;
        overflow: hidden;
        width: 100%;

        @media (min-width: $max-viewport-width) {
          width: 49%;
        }

        

        h2 {
          color: $black;
          display: inline-block;
          font-size: 1.25rem;
          font-weight: 600;
        }

        img {
          display: block;
          margin: 0 1rem 0 0;
          width: 170px;

          @include media-breakpoint-up(sm) {
            display: inline;
            float: left;  
          }
        }
      }
    }
  }

  .partner {
    @extend %headings-without-margins;

    h2 {
      color: $black;
      font-weight: normal;
    }

    ul {
      li {
        line-height: 13rem;
        width: 49%;

        @media (min-width: $mobile-breakpoint-width) {
          width: 24%;
        }

        img {
          margin: .5rem;
          width: calc(100% - 1rem);

          @media (min-width: $mobile-breakpoint-width) {
            margin: 2rem;
            width: calc(100% - 4rem);
          }
        }
      }
    }
  }

  .press-reviews {

    @extend %headings-without-margins;

    h2 {
      color: $black;
      font-weight: normal;
      line-height: 1.2;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    h3 {
      color: $red;
      font-size: 1rem;

      .reference {
        color: $dark-gray;
        margin: 0 0 0 2rem;
      }
    }

    ul {
      li {
        margin: 1rem 0;
      }
    }
  }

  .contact {
    
    @extend %headings-without-margins;

    h2 {
      color: $black;
      font-size: 1.25rem;
      font-weight: 600;
    }

    ul {
      li {
        margin: .5rem 0;
        overflow: hidden;
        width: 100%;

        img {
          display: block;
          margin: 0 1rem 0 0;
          width: 170px;

          @include media-breakpoint-up(sm) {
            display: inline;
            float: left;  
          }
        }
      }
    }
  }
}
