.about {
  .intro,
  .team,
  .partner,
  .press,
  .contact {
    margin: 0 0 5rem 0;
  }

  ul,
  li {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  ul {
    width: 100%;

    li {
      display: inline-block;
      vertical-align: top;
    }
  }

  .intro {
    [alt='Hero'] {
      width: 100%;
      border: 1rem solid $red;
    }

    h1 {
      display: inline-block;
      color: $black;

      @include media-breakpoint-up(sm) {
        width: 50%
      }
    }

    [alt='Welches Land wollen wir sein?'] {
      float: left;
      margin: 3rem;
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: calc(25% - 6rem);
      }
    }

    .text {
      display: inline-block;

      @include media-breakpoint-up(sm) {
        width: 50%
      }
    }

    [alt='Die offene Gesellschaft'] {
      position: relative;
      margin: 3rem;
      width: 100%;

      @include media-breakpoint-up(sm) {
        width: calc(25% - 6rem);
        margin: -30% 0 0 80%;
      }
    }
  }

  .team {
    ul {
      li {
        height: 170px;
        width: 100%;
        margin: .5rem 0;
        overflow: hidden;

        @include media-breakpoint-up(sm) {
          width: 49%;
        }

        h2 {
          color: $black;
          display: inline-block;
          font-size: 1.25rem;
          font-weight: normal;
        }

        img {
          float: left;
          width: 170px;
          margin: 0 1rem 0 0;
        }
      }
    }
  }

  .partner {
    h2 {
      color: $black;
      font-weight: normal;
    }

    ul {
      li {
        width: 50%;
        line-height: 13rem;

        @include media-breakpoint-up(sm) {
          width: 24%;
        }

        img {
          width: calc(100% - 4rem);
          margin: 2rem;
        }
      }
    }
  }

  .press {
    h2 {
      color: $black;
      font-weight: normal;
    }

    h3 {
      font-size: 1rem;
    }
  }

  .contact {
    h2 {
      color: $black;
      font-weight: normal;
      font-size: 1.25rem;
    }

    ul {
      li {
        height: 170px;
        margin: .5rem 0;
        overflow: hidden;
        width: 100%;

        @include media-breakpoint-up(sm) {
          width: 49%;
        }

        img {
          float: left;
          width: 170px;
          margin: 0 1rem 0 0;
        }
      }
    }
  }
}
