.container-fluid {
  > div {
    &.about {
      padding: 0;
    }
  }
}

.about {
  [alt='Hero'] {
    border: 1rem solid $red;
    height: 60vw;
    margin: 0 -1rem;
    width: calc(100% + 2rem);

    @include media-breakpoint-up(md) {
      margin: 0 calc(-25% - 1.5rem);
      width: calc(150% + 3rem);
    }

    @media (min-width: $mobile-breakpoint-width) {
      height: 498px;
    }
  }

  .intro,
  .team,
  .partner,
  .press-reviews,
  .contact {
    margin: 0 0 2rem;
  }

  .team,
  .partner,
  .press-reviews,
  .contact {
    ul,
    li {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    ul {
      width: 100%;

      li {
        display: inline-block;
        vertical-align: top;
      }
    }
  }

  .team {
    ul {
      li {
        height: 170px;
        margin: .5rem 0;
        overflow: hidden;
        width: 100%;

        @media (min-width: $max-viewport-width) {
          width: 49%;
        }

        h2 {
          color: $black;
          display: inline-block;
          font-size: 1.25rem;
          font-weight: normal;
        }

        img {
          float: left;
          margin: 0 1rem 0 0;
          width: 170px;
        }
      }
    }
  }

  .partner {
    h2 {
      color: $black;
      font-weight: normal;
    }

    ul {
      li {
        line-height: 13rem;
        width: 49%;

        @media (min-width: $mobile-breakpoint-width) {
          width: 24%;
        }

        img {
          margin: 2rem;
          width: calc(100% - 4rem);
        }
      }
    }
  }

  .press-reviews {
    h2 {
      color: $black;
      font-weight: normal;
    }

    h3 {
      font-size: 1rem;

      .reference {
        margin: 0 0 0 2rem;
        color: $dark-gray;
      }
    }
  }

  .contact {
    h2 {
      color: $black;
      font-size: 1.25rem;
      font-weight: normal;
    }

    ul {
      li {
        height: 170px;
        margin: .5rem 0;
        overflow: hidden;
        width: 100%;

        img {
          float: left;
          margin: 0 1rem 0 0;
          width: 170px;
        }
      }
    }
  }
}
