/*
 *= require_self
 */

// general
@import 'variables';
@import 'bootstrap-overwrites';
@import 'bootstrap';
@import 'font-awesome';
@import 'https://fonts.googleapis.com/css?family=Montserrat:400,700';

// partial styling
@import 'about';
@import 'blogposts';
@import 'comments';
@import 'events';
@import 'footer';
@import 'header';
@import 'home';
@import 'locations';
@import 'modal';
@import 'participate';
@import 'pictures';
@import 'users';
@import 'venues';
@import 'faciliation';
@import 'guideline';
@import 'imprint';

@import 'styleguide';

html,
body {
  color: $black;
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background-color: $white;
}

.content-container {
  min-height: calc(100% - 151px);

  @media (min-width: $mobile-breakpoint-width) {
    min-height: calc(100% - 344px);
  }

  a {
    color: $red;
  }

  a:hover,
  a:active,
  a:focus {
    color: $red;
  }
}

header,
.container-fluid {
  max-width: $max-viewport-width;
  padding: 0;

  > div {
    padding: 0 1rem;
  }
}

.row {
  margin: 0;
}

iframe {
  border: solid 20px $red;
  height: 47.5vw;
  width: 100%;

  @media (min-width: $max-viewport-width) {
    height: 560px;
  }
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}

.turbolinks-progress-bar {
  background: $red;
  border-radius: 1px;
  box-shadow: 0 0 2px $red;
  height: 2px;
  z-index: 99999;
}

.inline-block {
  display: inline-block;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;

  > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

.subnav,
nav {
  a {
    font-weight: bold;
    padding: 0 5px;

    &.active {
      background-color: $yellow;
    }

    &:hover {
      color: $black;
    }
  }
}

.subnav {
  background-color: $gray;
  display: none;
  height: 40px;
  line-height: 40px;
  text-align: right;
  width: 100%;

  @media (min-width: $mobile-breakpoint-width) {
    display: block;
  }

  a {
    color: $anthracite;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 22px;
    letter-spacing: 0;
    margin: 0 6.5px;
    text-align: right;

    &:last-of-type {
      margin-right: 36px;
    }

    &.active {
      background-color: $yellow;
    }
  }
}

tr {
  &[data-href],
  &[data-modal] {
    &:hover {
      cursor: pointer;
    }
  }
}


.grid {
  @mixin x($x) {
    @media (max-width: $mobile-breakpoint-width) {
      #{'.x' + $x} {
        left: #{(100 / 2) * ($x - 1) + '%'};
      }
    }

    @media (min-width: $mobile-breakpoint-width) {
      #{'.desktop-x' + $x} {
        left: #{(100 / 6) * ($x - 1) + '%'};
      }
    }
  }

  @mixin y($y) {
    @media (max-width: $mobile-breakpoint-width) {
      #{'.y' + $y} {
        top: #{(100 / 2) * ($y - 1) + 'vw'};
      }
    }

    @media (min-width: $mobile-breakpoint-width) {
      #{'.desktop-y' + $y} {
        top: #{(100 / 6) * ($y - 1) + 'vw'};

        @media (min-width: $max-viewport-width) {
          top: #{(1200 / 6) * ($y - 1) + 'px'};
        }
      }
    }
  }

  @mixin z-index($y) {
    @media (max-width: $mobile-breakpoint-width) {
      #{'.y' + $y} {
        z-index: $y;
      }
    }
  }

  @mixin size($x, $y) {
    #{'.size' + $x + 'x' + $y} {
      padding-bottom: calc(#{100 / 2 * $y}% + 6px);
      width: calc(#{100 / 2 * $x}% + 1px);
    }

    @media (min-width: $mobile-breakpoint-width) {
      #{'.desktop-size' + $x + 'x' + $y} {
        padding-bottom: calc(#{100 / 6 * $y}% + 6px);
        width: calc(#{100 / 6 * $x}% + 1px);
      }
    }
  }

  @for $i from 1 through 6 {
    @include x($i);
  }

  @for $i from 1 through 40 {
    @include y($i);
    @include z-index($i);
  }

  @include size(1, 1);
  @include size(2, 1);
  @include size(2, 2);
  @include size(4, 2);
  @include size(2, 3);

  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;

  > div {
    background-color: $gray;
    display: inline-block;
    overflow: hidden;
    position: absolute;

    &.mobile-hidden {
      display: none;

      @media (min-width: $mobile-breakpoint-width) {
        display: inline-block;
      }
    }

    &.desktop-hidden {
      display: inline-block;

      @media (min-width: $mobile-breakpoint-width) {
        display: none;
      }
    }

    > span,
    > a {
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  .user {
    background-color: $white;
    background-position: 50% 50%;
    background-size: cover;

    .statement {
      bottom: 60px;
      left: 28px;
      overflow: hidden;
      position: absolute;
      right: 28px;
      top: 28px;
    }

    .name-and-role {
      bottom: 14px;
      left: 27px;
      position: absolute;
      right: 28px;

      p {
        margin: 0;
      }
    }
  }
}

.alert {
  border-radius: 0;
  font-weight: bold;

  .col-xs-12 {
    text-align: center;
  }

  &.alert-danger {
    background-color: $red;
    color: $white;
  }

  &.alert-success {
    background-color: $yellow;
    color: $black;
  }

  .close {
    display: none;
  }
}

[name*='contents'] {
  color: $black;
  font-family: monospace;

  &:focus {
    color: $black;
  }
}

input {
  &.string,
  &.password {
    background-color: $white;
    border-color: $dark-gray;
    border-radius: 0;
    color: $black;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.1417px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    height: 49px;
    letter-spacing: .4px;
    padding: 14px 17px 12px;
    text-align: left;
    width: 100%;

    &:focus {
      background-color: $white;
      border-color: $dark-gray;
      color: $black;
    }
  }
}

.button-row {
  text-align: right;

  a,
  button {
    margin: 0 0 0 1rem;
  }
}

.nav-tabs {
  margin: 0 0 1rem;

  .nav-link {
    &.active {
      color: $red;

      &:hover {
        color: $red;
      }
    }
  }
}

.embed-responsive-1by1 {
  width: 100%;
  padding-bottom: calc(100% + 1px);
}
