/*
 *= require_self
 */

// general definitions
@import 'variables';
@import 'bootstrap-overwrites';

// gems & dependencies
@import 'bootstrap';
@import 'font-awesome';

// partial styling
@import 'topbar';
@import 'footer';
@import 'alert';
@import 'home';
@import 'comments';
@import 'events';
@import 'locations';
@import 'pictures';
@import 'users';
@import 'venues';
@import 'about';

html,
body {
  color: $black;
  height: 100%;
  width: 100%;
}

body {
  background-color: $white;
}

.content-container {
  min-height: calc(100% - 14rem);
}

.container-fluid {
  max-width: 1280px;
}

a {
  cursor: pointer;
}

a:hover,
a:active,
a:focus {
  outline: 0;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $red;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

h5 {
  font-size: $h5-font-size;
}

h6 {
  font-size: $h6-font-size;
}

.turbolinks-progress-bar {
  background: $color-4;
  border-radius: 1px;
  box-shadow: 0 0 2px $color-4;
  height: 2px;
  z-index: 99999;
}

.inline-block {
  display: inline-block;
}

.row-eq-height {
  display: flex;
  flex-wrap: wrap;

  > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
}

.btn-row {
  text-align: right;

  .btn {
    margin: 0 $btn-row-margin;
  }

  .btn:last-of-type {
    margin-right: 0;
  }
}

.subnavi,
nav {
  a {
    font-weight: bold;
    padding: 0 5px;

    &.active {
      background-color: $yellow;
    }
  }
}

.subnavi {
  background-color: $gray;
  padding: 5px;
  text-align: right;

  a,
  span {
    color: $black;

    &.active {
      background-color: $yellow;
    }
  }
}

tr {
  &[data-href] {
    &:hover {
      cursor: pointer;
    }
  }
}

.tile {
  overflow: hidden;
  padding: 0;
  position: relative;

  &.size1x1 {
    height: 50vw;

    @include media-breakpoint-up(sm) {
      padding: 0 0 16.66667%;
    }
  }

  &.size2x2 {
    height: 100vw;

    @include media-breakpoint-up(sm) {
      padding: 0 0 33.33333%;
    }
  }

  &.size1x1,
  &.size2x2 {
    @include media-breakpoint-up(sm) {
      height: 0;
    }
  }
}
