.container-fluid {
  > div {
    &.blogposts {
      padding: 0;
    }
  }
}

.blogposts {
  .post {
    border-bottom: 1px solid $gray;
    padding: 2rem 0;
    position: relative;

    h1,
    h2,
    h3,
    h4,
    h6 {
      font-weight: 600;
      margin-bottom: 22px;
      margin-top: 55px;
    }

    h2,
    h3,
    h4,
    h6 {
      margin-top: 22px;
    }

    &:last-of-type {
      border-bottom: 0;
    }
    .infos{
      color: $red;
      font-size: 18px;
      font-weight: 500;
    }
    .share-links {
      position: absolute;
      right: 10px;
      top: 0px;
      font-size: 3vw;

      @include media-breakpoint-up(lg) {
        font-size: 25px;
      }

      @include media-breakpoint-down(sm){
        font-size: 7.5vw;
      }

      a {
        margin-left: 10px;
        position: relative;
      }
    }

    .content{
      p {
        margin-bottom: 15px;
        font-size: 17px;
        font-weight: 300;
      }
    }

    .more {
      bottom: 0;
      color: $red;
      font-weight: 600;
      position: absolute;
    }

    .pipe {
      display: block;

      @include media-breakpoint-up(lg) {
        display: inline;
      }

      &::after {
        content: '';

        @include media-breakpoint-up(lg) {
          content: ' | ';
        }
      }
    }

    .image {
      background-position: 50% 50%;
      background-size: cover;
      margin: 0 0 2rem;
      padding: 0 0 100%;
      width: 100%;

      @include media-breakpoint-up(md) {
        margin: 0;
      }
    }

    .reference {
      color: $dark-gray;
      display: block;
      font-weight: normal;

      @include media-breakpoint-up(md) {
        display: inline;
        margin: 0 0 0 2rem;
      }
    }
  }

  .hero {
    background-position: 50% 50%;
    background-size: cover;
    border: 1rem solid $red;
    display: inline-block;
    margin: 0;
    padding: 0 0 50%;
    position: relative;
    width: 100%;

    .details {
      background-color: rgba(0, 0, 0, .75);
      bottom: 0;
      left: 0;
      padding: 1rem;
      position: absolute;
      right: 0;
      top: 0;

      @media (min-width: $mobile-breakpoint-width) {
        top: auto;
      }

      h2 {
        color: $white;
        font-size: 3vw;
        font-weight: 600;
        margin: 0 0 1rem;

        @media (min-width: $mobile-breakpoint-width) {
          font-size: 1.5vw;
        }

        @media (min-width: $max-viewport-width) {
          font-size: 18px;
        }
      }

      h1 {
        color: $white;
        font-size: 6.6667vw;
        font-weight: 600;
        margin: 0 0 1rem;

        @media (min-width: $mobile-breakpoint-width) {
          font-size: 3.3333vw;
        }

        @media (min-width: $max-viewport-width) {
          font-size: 40px;
        }
      }

      .more {
        color: $red;
        font-size: 3vw;
        font-weight: bold;

        @media (min-width: $mobile-breakpoint-width) {
          font-size: 1.5vw;
        }

        @media (min-width: $max-viewport-width) {
          font-size: 18px;
        }
      }

      .pipe {
        display: block;

        @media (min-width: $mobile-breakpoint-width) {
          display: inline;
        }

        &::after {
          content: '';

          @media (min-width: $mobile-breakpoint-width) {
            content: ' | ';
          }
        }
      }
    }
  }
}
