@charset "utf-8";

.container-fluid {
  > div {
    &.events {
      padding: 0;
    }
  }
}
.events {
  iframe {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  img {
    width: 100%;
  }

  .tile {
    background-position: 50% 50%;
    background-size: cover;
    color: $white;
    position: relative;

    &.year {
      background-color: $red;
      font-size: 6vw;
      font-weight: bold;
      padding-left: 2vw;
    }

    &.blank {
      background-color: $black;
    }

    &.picture {
      text-shadow: 0 0 3px $black;
    }

    .date-and-title {
      bottom: 1rem;
      font-size: .75rem;
      font-weight: bold;
      left: 1rem;
      position: absolute;
    }
  }

  table {
    width: 100%;

    tr {
      &.event {
        &:nth-of-type(2n+1) {
          background-color: $red;
        }
      }

      td {
        display: block;
        vertical-align: top;

        @media (min-width: $mobile-breakpoint-width) {
          display: table-cell;
        }

        &.month,
        &.year {
          background-color: $black;
          color: $white;
          font-family: 'Montserrat', sans-serif;
          font-size: 30px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          height: 52px;
          letter-spacing: 1.9px;
          padding: 20px 0 86px 20px;
          position: relative;
          text-align: left;

          @media (min-width: $mobile-breakpoint-width) {
            font-size: 42px;
            padding: 21px 0 137px 24px;
          }

          br {
            @media (min-width: $mobile-breakpoint-width) {
              display: none;
            }
          }

          i {
            bottom: 25px;
            cursor: pointer;
            display: none;
            position: absolute;
            right: 25px;

            @media (min-width: $mobile-breakpoint-width) {
              bottom: 50%;
              right: 60px;
              transform: translateY(50%);
            }
          }
        }

        &.date {
          color: $black;
          // font-family: 'Montserrat', sans-serif;
          // font-size: 30px;
          font-family: $oswald;
          font-size: 30px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 700;
          height: 37px;
          // letter-spacing: 1.4px;
          line-height: 1.2;
          padding: 10px 13px 1px 16px;
          text-align: left;

          @media (min-width: $mobile-breakpoint-width) {
            font-size: 42px;
            height: 52px;
            // letter-spacing: 1.9px;
            padding: 19px 54px 0 24px;
            width: 377px;

            .end-date {
              display: block;
            }
          }

          @media (min-width: $mobile-breakpoint-width) {
            // font-size: 3.7vw;
          }

          @media (min-width: $max-viewport-width) {
            font-size: 45px;
          }



        }

        &.details {
          p {
            line-height: 1;
            margin: 0;

            &.city {
              color: $black;
              font-family: 'Montserrat', sans-serif;
              font-size: 33px;
              font-stretch: normal;
              font-style: normal;
              font-weight: 600;
              height: 40px;
              line-height: 1.21;
              margin: 0 14px 4px 15px;
              text-align: left;

              @media (min-width: $mobile-breakpoint-width) {
                font-size: 42px;
                line-height: .95;
                margin: 27px 43px 10px 0;
              }
            }

            &.event-type-and-active-members {
              color: $black;
              font-family: 'Montserrat', sans-serif;
              font-size: 20px;
              font-stretch: normal;
              font-style: normal;
              font-weight: 300;
              letter-spacing: .2px;
              line-height: 1.2;
              margin: 0 13px 28px 16px;
              text-align: left;

              @media (min-width: $mobile-breakpoint-width) {
                font-size: 25px;
                letter-spacing: .3px;
                margin: 0 42px 35px 0;
                min-height: 30px;
              }
            }

            &.time {
              color: $black;
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              font-stretch: normal;
              font-style: normal;
              font-weight: 600;
              height: 18px;
              letter-spacing: .2px;
              margin: 0 11px 7px 18px;
              text-align: left;

              @media (min-width: $mobile-breakpoint-width) {
                font-size: 18px;
                height: 22px;
                margin: 0 42px 4px 0;
              }
            }

            &.venue {
              color: $black;
              font-family: 'Montserrat', sans-serif;
              font-size: 14px;
              font-stretch: normal;
              font-style: normal;
              font-weight: 300;
              line-height: 1.21;
              margin: 0 11px 26px 18px;
              text-align: left;

              @media (min-width: $mobile-breakpoint-width) {
                font-size: 18px;
                height: 21px;
                line-height: 1;
                margin: 0 42px 21px 0;
              }
            }
          }
        }
      }

      [colspan] {
        display: table-cell;
      }
    }

    &.archive {
      tr {
        td {
          position: relative;

          &:not(.year) {
            background-color: $gray;
            padding-bottom: calc(100% - 25px);
            width: 100%;

            @media (min-width: $mobile-breakpoint-width) {
              padding-bottom: calc(33.3333% - 25px);
              width: 33.3333%;
            }

            &.dummy {
              display: none;

              @media (min-width: $mobile-breakpoint-width) {
                display: table-cell;
              }
            }
          }

          .date-and-venue {
            bottom: 18px;
            color: $anthracite;
            display: inline-block;
            font-family: 'Montserrat', sans-serif;
            font-size: 18px;
            font-stretch: normal;
            font-style: normal;
            font-weight: 600;
            left: 28px;
            letter-spacing: .4px;
            line-height: 1.17;
            position: absolute;
            right: 28px;
            text-align: left;
          }

          .statement {
            bottom: 27%;
            color: $anthracite;
            font-family: 'Montserrat', sans-serif;
            font-size: 23px;
            font-stretch: normal;
            font-style: normal;
            font-weight: normal;
            left: 28px;
            letter-spacing: .5px;
            line-height: 1.43;
            overflow: hidden;
            position: absolute;
            right: 28px;
            text-align: left;
            top: 28px;

            &::before {
              content: '„';
            }

            &::after {
              content: '“';
            }
          }

          a {

            &.logo {
              background-color: $white;
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: 66%;
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
            }

            &.picture {
              background-color: $white;
              background-position: 50% 50%;
              background-size: cover;
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
            }

            &.blank {
              background-color: $red;
              bottom: 0;
              left: 0;
              position: absolute;
              right: 0;
              top: 0;
            }
          }

          .picture {
            .date-and-venue {
              background-color: rgba(255, 255, 255, .5);
              bottom: 0;
              left: 0;
              padding: 18px 28px;
              right: 0;
            }
          }
        }
      }
    }
  }
}
