// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events {
  img {
    width: 100%;
  }

  table {
    width: 100%;

    tr {
      &.event {
        &:nth-of-type(2n+1) {
          background-color: $red;
        }
      }

      td {
        vertical-align: top;

        &.month {
          background-color: $black;
          color: $white;
          font-size: 5vw;
          padding: 1vw 1vw 6vw;
          position: relative;

          i {
            position: absolute;
            right: 3vw;
            top: 50%;
            transform: translateY(-50%);
          }
        }

        &.date {
          font-size: 5vw;
          width: 25vw;
        }
      }
    }
  }
}
