.events {
  iframe {
    display: none;

    @media (min-width: 768px) {
      display: block;
    }
  }

  img {
    width: 100%;
  }

  .tile {
    background-position: 50% 50%;
    background-size: cover;
    color: $white;
    position: relative;

    &.year {
      background-color: $red;
      font-size: 6vw;
      font-weight: bold;
      padding-left: 2vw;
    }

    &.blank {
      background-color: $black;
    }

    &.picture {
      text-shadow: 0 0 3px $black;
    }

    .date-and-title {
      bottom: 1rem;
      font-size: .75rem;
      font-weight: bold;
      left: 1rem;
      position: absolute;
    }
  }

  table {
    width: 100%;

    tr {
      &.event {
        &:nth-of-type(2n+1) {
          background-color: $red;
        }
      }

      td {
        vertical-align: top;

        &.month {
          background-color: $black;
          color: $white;
          font-family: 'Montserrat', sans-serif;
          font-size: 30px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          height: 52px;
          letter-spacing: 1.9px;
          padding: 20px 0 86px 20px;
          position: relative;
          text-align: left;
          width: 723px;

          @media (min-width: $mobile-breakpoint-width) {
            font-size: 42px;
            padding: 21px 0 137px 24px;
          }

          br {
            @media (min-width: $mobile-breakpoint-width) {
              display: none;
            }
          }

          i {
            bottom: 25px;
            cursor: pointer;
            position: absolute;
            right: 25px;

            @media (min-width: $mobile-breakpoint-width) {
              bottom: 50%;
              right: 60px;
              transform: translateY(50%);
            }
          }
        }

        &.date {
          color: $black;
          font-family: 'Montserrat', sans-serif;
          font-size: 42px;
          font-stretch: normal;
          font-style: normal;
          font-weight: 600;
          height: 52px;
          letter-spacing: 1.9px;
          padding: 19px 0 139px 24px;
          text-align: left;
        }

        &.details {
          p {
            margin: 0;

            &.title {
              font-size: 1.25rem;
              margin: 0 0 2.5vw;

              @media (min-width: 1280px) {
                margin: 0 0 2rem;
              }
            }

            &.begin {
              font-weight: bold;
            }

            &.begin,
            &.event-type-and-active-members {
              font-size: .75rem;
            }
          }
        }
      }
    }
  }
}
