.container-fluid {
  > div {
    &.faciliation {
      padding: 0;
    }
  }
}

.faciliation {
  img {
    width: 100%;
  }

  [alt='Hero'] {
    border: 1rem solid $red;
    width: calc(100% + 2rem);
    margin: 0 -1rem;

    @include media-breakpoint-up(md) {
      width: calc(150% + 3rem);
      margin: 0 calc(-25% - 1.5rem);
    }
  }
}
