footer {
  height: 96px;
  margin-top: 50px;
  position: relative;
  
  @media (min-width: $mobile-breakpoint-width) {
    height: 172px;
  }

  .copyright {
    bottom: 66px;
    color: $black;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    left: 13px;
    letter-spacing: .1px;
    line-height: 15px;
    position: absolute;
    text-align: left;

    @media (min-width: $mobile-breakpoint-width) {
      bottom: 134px;
      font-size: 16px;
      left: 24px;
      letter-spacing: .2px;
      line-height: 19px;
      text-align: left;
    }
  }

  .top-link {
    bottom: 13px;
    color: $meta-nav-gray;
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    left: 29px;
    letter-spacing: .4px;
    line-height: 23px;
    position: absolute;
    text-align: left;

    @media (min-width: $mobile-breakpoint-width) {
      display: none;
    }
  }

  .links {
    bottom: 134px;
    display: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 19px;
    position: absolute;
    right: 24px;
    text-align: left;

    @media (min-width: $mobile-breakpoint-width) {
      display: block;
    }
 
    a {
      color: $black;
      margin: 0 6px;
    }
  }
}
