.footer {
  font-weight: bold;
  margin: 1rem 0;

  .row {
    margin: 0;

    .links {
      text-align: right;

      a {
        &:last-of-type {
          margin-right: 0;
        }
      }
    }
  }
}
