header {
  background-color: $white;
  height: 172px;
  position: relative;

  .logo-die-offene-gesellschaft {
    height: 86px;
    left: 37px;
    object-fit: contain;
    position: absolute;
    top: 45px;
    width: 198px;
  }

  .meta-nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-stretch: normal;
    font-style: normal;
    font-weight: normal;
    height: 14px;
    letter-spacing: 0;
    position: absolute;
    right: 38.3px;
    top: 20.2px;

    a {
      color: $meta-nav-gray;
      margin: 0 5.5px;
      text-transform: uppercase;

      &.logout {
        color: $black;
        font-weight: 600;
        margin: 0 0 0 5.5px;
      }
    }
  }

  nav {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 600;
    height: 22px;
    letter-spacing: 0;
    position: absolute;
    right: 38px;
    top: 119px;

    a {
      color: $black;
      margin: 0 1px;

      &.participate {
        border-bottom: 10px solid $yellow;
        margin: 0 0 0 41px;
        position: relative;
        top: -10px;

        span {
          position: relative;
          top: 10px;
        }
      }
    }
  }
}
