.container-fluid {
  > div {
    &.home {
      padding: 0;
    }
  }
}

.home {
  height: 1200vw;

  @media (min-width: $mobile-breakpoint-width) {
    height: 200vw;
  }

  @media (min-width: $max-viewport-width) {
    height: 2400px;
  }

  .grid {
    .mobile-intro {
      background-color: $white;

      img {
        margin: 0 25%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
      }
    }

    .blogpost {
      background-color: $white;

      .title {
        margin: 28px 28px 11px;
      }

      .introduction {
        margin: 0 28px;
      }

      span {
        bottom: 17px;
        left: 28px;
        position: absolute;
      }
    }

    .about {
      background-color: $white;

      img {
        margin: 0 25%;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
      }

      span {
        bottom: 19px;
        color: $red;
        font-family: 'Montserrat', sans-serif;
        font-size: 19px;
        font-stretch: normal;
        font-style: normal;
        font-weight: 600;
        height: 23px;
        left: 28px;
        letter-spacing: .4px;
        position: absolute;
        text-align: left;
      }
    }

    .call-to-action {
      background-color: $yellow;
      color: $black;
      font-family: 'Montserrat', sans-serif;
      font-size: 5.5vw;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: .5px;
      text-transform: uppercase;

      @media (min-width: $mobile-breakpoint-width) {
        font-size: 1.8333vw;
      }

      @media (min-width: $max-viewport-width) {
        font-size: 22px;
      }

      span {
        position: absolute;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
      }
    }

    .statement {
      background-color: $red;
      bottom: 0;
      left: 0;
      padding: 27px 44px 0 33px;
      position: absolute;
      right: 0;
      top: 0;
    }

    .event {
      background-color: $red;

      .date {
        margin: 11px 0 7px 11px;
      }

      .venue {
        color: $white;
        font-family: 'Montserrat', sans-serif;
        font-size: 4.5vw;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
        letter-spacing: .2px;
        margin: 11px 11px 0;
        text-align: left;

        @media (min-width: $mobile-breakpoint-width) {
          font-size: 1.5vw;
        }

        @media (min-width: $max-viewport-width) {
          font-size: 18px;
        }
      }
    }
  }
}
