.login {
    label {
        color: $meta-nav-gray;
        font-weight: 300;
    }
    input.string,
    input.password {
        font-weight: 400;
    }
}
.login-links {
    a {
        display: block;
        margin-top: 15px;
    }
}