.modal {
  padding: 0;

  .modal-dialog {
    margin: 8vw auto;
    width: 66.6vw;
    max-width: $max-modal-width;
  }

  .modal-body,
  .row,
  .col-lg-6,
  .col-xs-12 {
    padding: 0;
  }
}

.close {
  color: $white;
  font-size: 6vw;
  opacity: 1;
  position: absolute;
  right: -6vw;
  top: -6vw;

  &:hover {
    color: $white;
    opacity: 1;
  }
}

.user-modal {
  .image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    height: 66.6vw;
    width: 100%;

    @include media-breakpoint-up(lg) {
      height: 33.3vw;
      max-height: $max-modal-height;
    }
  }

  .user-default-image {
    .image {

    }
  }

  .user-double-image {
    .image {
      height: 37.5vw;
      max-height: #{$max-viewport-width * 0.375};
    }
  }

  .details {
    position: relative;
    height: 66.6vw;
    width: 100%;

    @include media-breakpoint-up(lg) {
      &.col-xs-12 {
        height: 15vw;
        max-height: #{$max-viewport-width * .15};
      }

      &.col-lg-6 {
        height: 33.3vw;
        max-height: $max-modal-height;
        width: 50%;
      }
    }

    .user-quote {
      font-size: 4vw;
      margin: 3vw 22px 0;

      @include media-breakpoint-up(lg) {
        font-size: 23px;
        margin: 15px 22px 0;
      }
    }

    .user-name {
      font-size: 3vw;
      margin: 4vw 22px 0;

      @include media-breakpoint-up(lg) {
        font-size: 18px;
        margin: 25px 22px 0;
      }
    }

    .user-role {
      font-size: 2.2vw;
      margin: 0.5vw 22px 0;

      @include media-breakpoint-up(lg) {
        font-size: 13px;
        margin: 7px 22px 0;
      }
    }

    a {
      position: relative;
    }

    .links {
      bottom: 4vw;
      color: $red;
      margin: 0 22px 0;
      position: absolute;
      width: 100%;

      @include media-breakpoint-up(lg) {
        bottom: 28px;
      }

      .share-links,
      .link-small {
        display: inline-block;
        font-size: 3.16vw;
        width: calc(50% - 22px);

        @include media-breakpoint-up(lg) {
          font-size: 16px;
        }
      }

      .link-small {
        a {
          margin-right: 33px;
        }
      }

      .share-links {
        text-align: right;

        .share {
          color: $red;
          margin-left: 5px;
        }
      }
    }
  }
}
