.participate-modal {
  background-color: $red;
  color: $white;
  padding: 29px 26px;

  .idea-form {
    margin-bottom: 80px;
  }

  .idea-details {
    margin: 80px 0;
  }

  [name="commit"] {
    bottom: auto;
    max-width: 223px;
    position: inherit;
    right: auto;
  }

  .hidden {
    display: none;
  }
}
