.container-fluid {
  > div {
    &.participate {
      padding: 0;
    }
  }
}

.participate {
  .title {
    margin: 0 0 6px;
  }

  .introduction {
    margin: 0 0 5px;
  }

  .image {
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    margin: 0 0 -7px;
    padding: 0 0 33.3333%;
    width: 33.3333%;
  }

  .name-form {
    position: relative;

    @media (min-width: $mobile-breakpoint-width) {
      height: calc(67vw - 5px);
    }

    @media (min-width: $max-viewport-width) {
      height: 798px;
    }
  }

  .name-form,
  .extended-form,
  .avatars {
    background-color: $red;
    min-height: 66vw;
    overflow: hidden;
    padding: 0;

    @include media-breakpoint-up(md) {
      height: 83vw;
      min-height: 0;
    }

    @media (min-width: 1000px) {
      height: 66vw;
      min-height: 0;
    }

    @media (min-width: $max-viewport-width) {
      height: 792px;
      min-height: 0;
    }
  }

  .name-form,
  .extended-form {
    padding: 40px 40px 100px;
  }

  label {
    display: none;

    &.boolean {
      color: $white;
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-size: 13.1417px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: .4px;
      line-height: 1.47;
      text-align: left;

      @media (min-width: $mobile-breakpoint-width) {
        font-size: 1.5833vw;
      }

      @media (min-width: $max-viewport-width) {
        font-size: 19px;
      }
    }

    > .box {
      background-color: $white;
      display: inline-block;
      height: 28px;
      margin: 0 19px 0 0;
      width: 28px;

      &::after {
        color: $black;
        content: '';
        font-family: 'FontAwesome';
        font-size: 28px;
        left: 3px;
        position: relative;
        top: -7px;
      }
    }

    .text {
      display: inline-block;
      margin: 0 0 17px;
      vertical-align: top;
      width: calc(100% - 47px);

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .form-group {
    margin: 30px 0;

    &.file {
      overflow: hidden;
    }
  }

  textarea,
  input {
    background-color: $white;
    border-radius: 0;
    color: $dark-gray;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.1417px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    height: 49px;
    letter-spacing: .4px;
    padding: 14px 17px 12px;
    text-align: left;
    width: 100%;

    @media (min-width: $mobile-breakpoint-width) {
      font-size: 1.5833vw;
    }

    @media (min-width: $max-viewport-width) {
      font-size: 19px;
    }

    &:focus {
      border: 0;
      color: $dark-gray;
    }
  }

  textarea {
    height: 147px;
  }

  [type='file'] {
    font-size: 16px;
    padding: 0;
  }

  .extended-form {
    display: none;
    margin: -6rem 0 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }


  [type='checkbox'] {
    display: none;
  }

  [type='checkbox']:checked {
    + label {
      > .box {
        &::after {
          content: '\f00d';
        }
      }
    }
  }

  [name='commit'] {
    background-color: $white;
    border: 0;
    bottom: 40px;
    color: $red;
    font-weight: 600;
    height: auto;
    padding: 14px 0;
    position: absolute;
    right: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 223px;
  }

  .terms-of-use:checked {
    ~ div {
      [for='terms-of-use'] {
        > .box {
          &::after {
            content: '\f00d';
          }
        }
      }
    }

    ~ .extended-form {
      display: block;
    }

    ~ .avatars {
      display: none;
    }

    ~ .name-form {
      [name='commit'] {
        display: none;
      }
    }
  }
}
