.container-fluid {
  > div {
    &.participate {
      padding: 0;
    }
  }
}

.participate,
.user-form {
  .help-block {
    color: $white;
    text-align: right;
  }

  .title {
    margin: 0 0 6px;
  }

  .introduction {
    margin: 0 0 5px;
  }

  .image {
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    margin: 0 0 -7px;
    padding: 0 0 33.3333%;
    width: 33.3333%;
  }

  .name-form {
    position: relative;
  }

  .name-form,
  .extended-form,
  .avatars {
    background-color: $red;
    min-height: 66vw;
    overflow: hidden;
    padding: 0;

    @include media-breakpoint-up(md) {
      height: 99vw;
      min-height: 0;
    }

    @media (min-width: $mobile-breakpoint-width) {
      height: calc(82vw + 4px);
    }

    @media (min-width: $max-viewport-width) {
      height: 794px;
    }
  }

  .avatars {
    @include media-breakpoint-down(sm) {
      height: 131vw;
    }
  }

  .name-form,
  .extended-form {
    padding: 40px 40px 100px;
  }

  label {
    display: none;

    &.boolean {
      color: $white;
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-size: 13.1417px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: .4px;
      line-height: 1.47;
      text-align: left;


      @media (min-width: $mobile-breakpoint-width) {
        font-size: 1.5833vw;
      }

      @media (min-width: $max-viewport-width) {
        font-size: 18px;
        margin-bottom: 30px;
      }
      .text a{
        font-weight: 500;
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }

    > .box {
      background-color: $white;
      display: inline-block;
      height: 28px;
      margin: 0 19px 0 0;
      width: 28px;

      &::after {
        color: $black;
        content: '';
        font-family: 'FontAwesome';
        font-size: 28px;
        left: 3px;
        position: relative;
        top: -7px;
      }
    }

    .text {
      display: inline-block;
      margin: 0 0 17px;
      vertical-align: top;
      width: calc(100% - 47px);

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .form-group {
    margin: 30px 0;

    &.file {
      overflow: hidden;
    }
  }

  .text {
    .user-statement {
      height: 77px;
    }
  }

  textarea,
  input {
    background-color: $white;
    border: 0;
    border-radius: 0;
    color: $dark-gray;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.1417px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    height: 49px;
    letter-spacing: .4px;
    padding: 14px 17px 12px;
    text-align: left;
    width: 100%;

    @media (min-width: $mobile-breakpoint-width) {
      font-size: 1.5833vw;
    }

    @media (min-width: $max-viewport-width) {
      font-size: 19px;
    }

    &:focus {
      border: 0;
      color: $dark-gray;
    }
  }

  input {
    font-family: $oswald;
    font-weight: 500;
    font-size: 25px;
    text-transform: uppercase;
    width: 320px;
    padding: 14px 0;
    line-height: 1.1;
    &[type="text"],
    &[type="email"]{
      text-transform: none;
    }
  }

  textarea {
    height: 147px;
  }

  .file {
    margin-top: 21px;
    text-align: right;

    .edit-user-avatar-input {
      padding: 0;
      text-align: left;
    }

    .avatar-input {
      height: .1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      width: .1px;
      z-index: -1;
    }

    .avatar-label {
      background-color: $white;
      background-position: 50% 50%;
      background-size: cover;
      color: $red;
      cursor: pointer;
      display: inline-block;
      font-size: 12px;
      font-weight: 600;
      height: 150px;
      margin: 4px;
      padding: 14px 0;
      position: relative;
      text-align: center;
      width: 150px;
    }

    label {
      &::after {
        background-color: rgba(0, 0, 0, .5);
        bottom: 0;
        color: $white;
        content: "\f030";
        display: block;
        font-family: "FontAwesome";
        font-size: 19px;
        left: 0;
        padding-left: 10px;
        position: absolute;
        text-align: left;
        width: 150px;
      }
    }
  }

  .extended-form {
    display: none;
    margin: -6rem 0 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }


  [type='checkbox'] {
    display: none;
  }

  [type='checkbox']:checked {
    + label {
      > .box {
        &::after {
          content: '\f00d';
        }
      }
    }
  }

  [name='commit'] {
    background-color: $white;
    border: 0;
    bottom: 40px;
    color: $red;
    // font-weight: 600;
    height: auto;
    padding: 14px 0;
    position: absolute;
    left: 40px;
    text-align: center;
    // text-transform: uppercase;
    // width: 223px;
  }

  .terms-of-use:checked {
    ~ div {
      [for='terms-of-use'] {
        > .box {
          &::after {
            content: '\f00d';
          }
        }
      }
    }

    ~ .extended-form {
      display: block;
    }

    ~ .avatars {
      display: none;
    }

    ~ .name-form {
      [name='commit'] {
        display: none;
      }
    }
  }

  .what-next {
    background-color: $red;
    color: $white;
    padding: 40px;
  }

  .support {
    .col-xs-12 {
      padding: 37px 40px;
    }

    a:focus{
      color: $white;
    }

    .weitersagen ~ p,
    .weitersagen ~ h3{
      // padding-left: 100px;
      @media ($min-830){
        padding-left: 300px;
      }
      @media ($min-1200){

      }
    }
    .weitersagen,
    .vor-ort-sein,
    .spenden{
      position: relative;
      margin-top: 60px;
      @media ($min-830){ margin: 0; }
      &::before{
        content: '';
        display: block;
        position: absolute;
        top: -30px;
        width: 80px;
        height: 80px;
        // background-color: red;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: 90%;
        @media ($min-830){
          top: 90px;
          width: 260px;
          height: 260px;
        }
      }
    }
    .weitersagen::before{
      // width: 213px;
    }
    .vor-ort-sein::before{}
    .spenden::before{
      background-size: 100%;
    }

    h2 {
      color: $black;
      font-family: 'Montserrat', sans-serif;
      font-size: 42px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: .8px;
      margin: 0 0 6px;
      text-align: left;
    }

    h3 {
      color: $black;
      font-family: 'Montserrat', sans-serif;
      font-size: 23px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: .5px;
      margin: 100px 0 6px;
      text-align: left;
    }

    p {
      color: $black;
      font-family: 'Montserrat', sans-serif;
      font-size: 18px;
      font-stretch: normal;
      font-style: normal;
      // font-weight: 300;
      // letter-spacing: .4px;
      line-height: 1.47;
      text-align: left;
    }

    a {
      background-color: $red;
      color: $white;
      display: inline-block;
      font-family: $oswald;
      font-size: 25px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 500;
      // letter-spacing: .4px;
      line-height: 1.3;
      margin: 0 1px 6px 0;
      padding: 12px 30px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      top: 10px;

      &:hover {
        color: $white;
      }

      &[href*='facebook'],
      &[href*='twitter'] {
        background-color: transparent;
        color: $red;
        font-size: 1.8rem;
        line-height: 1;
        padding: 0;
        top: 0;
      }
    }
  }

  .do-it-yourself {
    background-color: $red;
    color: $white;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-weight: 600;
    }

    h1{
      margin-bottom: 20px;
    }

    a,
    a:hover {
      color: $white;
      text-decoration: underline;
    }
    p{
      font-weight: 300;
      font-family: $montserrat;
      font-size: 18px;
      a{
        text-decoration: none;
        font-weight: 500;
      }
    }
    .diy-text {
      padding: 40px 40px 10px;

      .mitteilen {
        background-color: $white;
        border: 0;
        color: $red;
        display: block;
        // font-weight: 600;
        height: auto;
        margin: 30px 0;
        padding: 14px 0;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;

        font-family: $oswald;
        font-weight: 500;
        font-size: 25px;
        // text-transform: uppercase;
        width: 310px;
        // padding: 14px 0;
        line-height: 1.1;

      }
    }

    .diy-avatars {
      padding: 0;
    }

    .additional-images-md {
      display: none;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }

      @include media-breakpoint-up(lg) {
        display: none;
      }
    }

    .additional-images-lg {
      display: none;

      @include media-breakpoint-up(md) {
        display: inline-block;
      }

      @include media-breakpoint-up(xl) {
        display: none;
      }
    }
  }
}
