.container-fluid {
  > div {
    &.participate {
      padding: 0;
    }
  }
}

.participate {
  .help-block {
    color: $white;
    text-align: right;
  }

  .title {
    margin: 0 0 6px;
  }

  .introduction {
    margin: 0 0 5px;
  }

  .image {
    background-position: 50% 50%;
    background-size: cover;
    display: inline-block;
    margin: 0 0 -7px;
    padding: 0 0 33.3333%;
    width: 33.3333%;
  }

  .name-form {
    position: relative;
  }

  .name-form,
  .extended-form,
  .avatars {
    background-color: $red;
    min-height: 66vw;
    overflow: hidden;
    padding: 0;

    @include media-breakpoint-up(md) {
      height: calc(99vw + 5px);
      min-height: 0;
    }

    @media (min-width: $mobile-breakpoint-width) {
      height: calc(82vw + 8px);
    }

    @media (min-width: $max-viewport-width) {
      height: 798px;
    }
  }

  .avatars {
    @include media-breakpoint-down(sm) {
      height: 133vw;
    }
  }

  .name-form,
  .extended-form {
    padding: 40px 40px 100px;
  }

  label {
    display: none;

    &.boolean {
      color: $white;
      display: block;
      font-family: 'Montserrat', sans-serif;
      font-size: 13.1417px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: .4px;
      line-height: 1.47;
      text-align: left;

      @media (min-width: $mobile-breakpoint-width) {
        font-size: 1.5833vw;
      }

      @media (min-width: $max-viewport-width) {
        font-size: 19px;
      }
    }

    > .box {
      background-color: $white;
      display: inline-block;
      height: 28px;
      margin: 0 19px 0 0;
      width: 28px;

      &::after {
        color: $black;
        content: '';
        font-family: 'FontAwesome';
        font-size: 28px;
        left: 3px;
        position: relative;
        top: -7px;
      }
    }

    .text {
      display: inline-block;
      margin: 0 0 17px;
      vertical-align: top;
      width: calc(100% - 47px);

      a {
        color: $white;
        text-decoration: underline;
      }
    }
  }

  .form-group {
    margin: 30px 0;

    &.file {
      overflow: hidden;
    }
  }

  textarea,
  input {
    background-color: $white;
    border: 0;
    border-radius: 0;
    color: $dark-gray;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    font-size: 13.1417px;
    font-stretch: normal;
    font-style: normal;
    font-weight: 300;
    height: 49px;
    letter-spacing: .4px;
    padding: 14px 17px 12px;
    text-align: left;
    width: 100%;

    @media (min-width: $mobile-breakpoint-width) {
      font-size: 1.5833vw;
    }

    @media (min-width: $max-viewport-width) {
      font-size: 19px;
    }

    &:focus {
      border: 0;
      color: $dark-gray;
    }
  }

  textarea {
    height: 147px;
  }

  [type='file'] {
    font-size: 16px;
    padding: 0;
  }

  .extended-form {
    display: none;
    margin: -6rem 0 0;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }


  [type='checkbox'] {
    display: none;
  }

  [type='checkbox']:checked {
    + label {
      > .box {
        &::after {
          content: '\f00d';
        }
      }
    }
  }

  [name='commit'] {
    background-color: $white;
    border: 0;
    bottom: 40px;
    color: $red;
    font-weight: 600;
    height: auto;
    padding: 14px 0;
    position: absolute;
    right: 40px;
    text-align: center;
    text-transform: uppercase;
    width: 223px;
  }

  .terms-of-use:checked {
    ~ div {
      [for='terms-of-use'] {
        > .box {
          &::after {
            content: '\f00d';
          }
        }
      }
    }

    ~ .extended-form {
      display: block;
    }

    ~ .avatars {
      display: none;
    }

    ~ .name-form {
      [name='commit'] {
        display: none;
      }
    }
  }

  .what-next {
    background-color: $red;
    color: $white;
    padding: 40px;
  }

  .support {
    .col-xs-12 {
      padding: 37px 40px;
    }

    h2 {
      color: $black;
      font-family: 'Montserrat', sans-serif;
      font-size: 35px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: .8px;
      margin: 0 0 6px;
      text-align: left;
    }

    h3 {
      color: $black;
      font-family: 'Montserrat', sans-serif;
      font-size: 23px;
      font-stretch: normal;
      font-style: normal;
      font-weight: normal;
      letter-spacing: .5px;
      margin: 80px 0 6px;
      text-align: left;
    }

    p {
      color: $black;
      font-family: 'Montserrat', sans-serif;
      font-size: 19px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 300;
      letter-spacing: .4px;
      line-height: 1.47;
      text-align: left;
    }

    a {
      background-color: $red;
      color: $white;
      display: inline-block;
      font-family: 'Montserrat', sans-serif;
      font-size: 19px;
      font-stretch: normal;
      font-style: normal;
      font-weight: 600;
      letter-spacing: .4px;
      line-height: 1.5;
      margin: 0 1px 6px 0;
      padding: 12px 20px;
      position: relative;
      text-align: center;
      text-transform: uppercase;
      top: 10px;

      &:hover {
        color: $white;
      }

      &[href*='facebook'],
      &[href*='twitter'] {
        background-color: transparent;
        color: $red;
        font-size: 3rem;
        line-height: 1;
        padding: 0;
        top: 0;
      }
    }
  }

  .do-it-yourself {
    background-color: $red;
    color: $white;

    a, 
    a:hover {
      color: $white;
      text-decoration: underline;
    }

    .diy-text {
      padding: 40px 40px 100px;
      
      .mitteilen {
        background-color: $white;
        border: 0;
        color: $red;
        font-weight: 600;
        height: auto;
        left: 40px;
        margin-top: 100px;
        padding: 14px 0;
        position: absolute;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        width: 400px;

        @include media-breakpoint-down(lg) {
          margin-top: 4vw;
        }

        @include media-breakpoint-down(md) {
          margin-top: 3vw;
          width: 35vw;
        }

        @include media-breakpoint-down(sm) {
          bottom: 40px;
          width: 50vw;
        }

        @include media-breakpoint-down(xs) {
          bottom: 40px;
          width: 80vw;
        }

      }
    }

    .diy-avatars {
      padding: 0;
    }
  }
}
