// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// // colors

// $anthracite: #1d1d1b;
// $black: #000;
// $black-transparent: rgba(0, 0, 0, .3);
// $dark-blue: #000207;
// $dark-gray: #6f6f6f;
// $medium-gray: #e0dbdb;
// $gray: #e5e5e5;
// $red: #d20a11;
// $white: #fff;
// $yellow: #ffdd02;

// // special colors

// $meta-nav-gray: #4e5350;
// $mobile-menu-gray: #f2f2f2;
// $initial-popup-warning-red: #ffdd02;
// $initial-popup-warning-yellow: #d20a11;

// // lengths

// $mobile-breakpoint-width: 830px;
// $max-viewport-width: 1200px;
// $max-modal-width: #{$max-viewport-width * (2/3)};
// $max-modal-height: #{$max-viewport-width / 3};

// // opacities

// $modal-backdrop: .8;



// BREAKPOINTS
// media queries
$min-830: 'min-width: 830px';
// @media (min-width: $mobile-breakpoint-width)

$min-992: 'min-width: 992px';
// @include media-breakpoint-up(lg)

$min-1200: 'min-width: 1200px';
// @include media-breakpoint-up(xl)


.slide-admin {
  .image {
    height: 400px;
    width: 800px;
  }
}

.slideshow {
  .slide {
    display: none;

    &.active {
      display: block;
    }

    &.text,
    &.quote,
    &.picture{
      .text1{
        padding: 6vw 9vw;
        @media ($min-830){
          padding: 4vw 5vw;
        }
        @media ($min-1200){
          padding: 32px 50px;
        }
      }
      .text2{}
      .image{}
    }
    &.text {
      background-color: $white;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      .image {
        display: none;
      }

      .text1 {
        font-family: "Oswald";
        font-size: 8vw;
        font-weight: 500;
        // left: 9vw;
        line-height: 1;
        // position: absolute;
        // top: 6vw;
        // width: 80vw;

        @media (min-width: $mobile-breakpoint-width) {
          font-size: 7vw;
          // left: 5vw;
          // top: 4vw;
          // width: 60vw;
        }

        // (min-width: 1200px)
        @include media-breakpoint-up(xl) {
          font-size: 80px;
          // left: 50px;
          // top: 32px;
          // width: 700px;
        }
      }

      .text2 {
        // bottom: 20vw;
        font-family: "Oswald";
        font-size: 4vw;
        font-weight: 300;
        // left: 9vw;
        line-height: 1;
        // position: absolute;
        width: 80vw;

        // (min-width: 830px)
        @media (min-width: $mobile-breakpoint-width) {
          // bottom: 9vw;
          font-size: 3vw;
          // left: 5vw;
          // width: 60vw;
        }

        // (min-width: 992px)
        @include media-breakpoint-up(lg) {
          // bottom: 132px;
          font-size: 30px;
          // left: 50px;
          // width: 700px;
        }
      }
    }

    &.quote {
      background-color: $white;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      .image {
        display: none;
      }

      .text1 {
        font-family: "Montserrat";
        font-size: 3.3vw;
        font-weight: 500;
        // left: 9vw;
        line-height: 1.2;
        // position: absolute;
        // top: 6vw;
        // width: 80vw;

        // > 830px
        @media (min-width: $mobile-breakpoint-width) {
          font-size: 2.8vw;
          // left: 5vw;
          // top: 4vw;
          // width: 60vw;
        }


        @include media-breakpoint-up(lg) {
          font-size: 2.5vw;
          // left: 5vw;
          // top: 4vw;
          // width: 56vw;
        }

        @include media-breakpoint-up(xl) {
          font-size: 30px;
          // left: 50px;
          // top: 54px;
          // width: 700px;
        }
      }

      .text2 {
        // bottom: 16vw;
        font-family: "Montserrat";
        font-size: 3vw;
        font-weight: 300;
        // left: 9vw;
        line-height: 1;
        // position: absolute;
        // width: 80vw;

        @media (min-width: $mobile-breakpoint-width) {
          // bottom: 9vw;
          font-size: 2.5vw;
          // left: 5vw;
          // width: 60vw;
        }

        @include media-breakpoint-up(lg) {
          // bottom: 8vw;
          font-size: 2.5vw;
          // left: 5vw;
          // width: 56vw;
        }

        @include media-breakpoint-up(xl) {
          // bottom: 107px;
          font-size: 24px;
          // left: 50px;
          // width: 700px;
        }
      }
    }

    &.picture {
      .image {
        background-size: contain;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      .text1 {
        background-color: $white;
        font-family: "Oswald";
        font-size: 3.6vw;
        font-weight: 500;
        left: 6vw;
        line-height: 9.5vw;
        max-width: 80vw;
        padding-left: 3.25vw;
        padding-right: 3.25vw;
        position: absolute;
        top: 6vw;
        z-index: 1000;

        @media (min-width: $mobile-breakpoint-width) {
          font-size: 2.5vw;
          left: 4vw;
          line-height: 6vw;
          padding-left: 2.75vw;
          padding-right: 2.75vw;
          top: 4vw;
        }

        @include media-breakpoint-up(xl) {
          font-size: 30px;
          height: 70px;
          left: 40px;
          line-height: 70px;
          padding-left: 25px;
          padding-right: 25px;
          top: 40px;
        }
      }

      .text2 {
        background-color: $black-transparent;
        bottom: .5vw;
        color: $white;
        font-family: "Montserrat";
        font-size: 1.7vw;
        font-weight: 300;
        padding: .5vw;
        position: absolute;
        right: 7vw;
        z-index: 1000;

        @media (min-width: $mobile-breakpoint-width) {
          bottom: 6px;
          font-size: 13px;
          padding: 3px;
          right: 4vw;
        }

        @include media-breakpoint-up(xl) {
          bottom: 6px;
          font-size: 13px;
          padding: 3px;
          right: 40px;
        }
      }
    }
  }
}
