// Place all the styles related to the Slides controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



// // colors

// $anthracite: #1d1d1b;
// $black: #000;
// $black-transparent: rgba(0, 0, 0, .3);
// $dark-blue: #000207;
// $dark-gray: #6f6f6f;
// $medium-gray: #e0dbdb;
// $gray: #e5e5e5;
// $red: #d20a11;
// $white: #fff;
// $yellow: #ffdd02;

// // special colors

// $meta-nav-gray: #4e5350;
// $mobile-menu-gray: #f2f2f2;
// $initial-popup-warning-red: #ffdd02;
// $initial-popup-warning-yellow: #d20a11;

// // lengths

// $mobile-breakpoint-width: 830px;
// $max-viewport-width: 1200px;
// $max-modal-width: #{$max-viewport-width * (2/3)};
// $max-modal-height: #{$max-viewport-width / 3};

// // opacities

// $modal-backdrop: .8;






.slide-admin {
  .image {
    height: 400px;
    width: 800px;
  }
}

.slideshow{
  .slider-nav {
    bottom: 12px;
    left: 9vw;
    @media ($min-830){
      left: 5vw;
    }
    @media ($min-1200){
      left: 50px;
    }
    position: absolute;
    .nav-block{
      width: 8px;
      display: inline-block;
      height: 8px;
      margin-right: 4px;
      @media ($min-830){
        width: 12px;
        height: 12px;
      }
      background-color: $gray;
      &.active{
        background-color: $red;
      }
    }
  }
}
.slideshow {
  .slide {
    display: none;

    &.active {
      display: block;
    }

    // general stylings
    &.text,
    &.quote{
      .text1{
        color: $black;
        line-height: 1.2;
        padding: 4vw 9vw 0;
        @media ($min-830){
          padding: 4vw 5vw 0;
        }
        @media ($min-1200){
          padding: 32px 50px 0;
        }
      }
      .text2{
        color: $black;
        line-height: inherit;
        padding: 4vw 9vw 0;
        @media ($min-830){
          padding: 4vw 5vw 0;
        }
        @media ($min-1200){
          padding: 32px 50px 0;
        }
      }
      .image{}
    }

    // specific styling overwrites
    &.text {
      background-color: $yellow;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      .image {
        display: none;
      }

      .text1 {
        font-family: $oswald;
        font-size: 8vw;
        font-weight: 500;

        @media ($min-830){
          font-size: 7vw;
        }
        @media ($min-1200){
          font-size: 80px;
        }

      }

      .text2 {
        font-family: $oswald;
        font-size: 5vw;
        font-weight: 300;
        width: 80vw;

        @media ($min-830){
          font-size: 3vw;
        }
        @media ($min-1200){
          font-size: 30px;
        }

      }
    }

    &.quote {
      background-color: $yellow;
      bottom: 0;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;

      .image {
        display: none;
      }

      .text1 {
        font-family: $montserrat;
        font-size: 4vw;
        font-weight: 500;

        @media ($min-830){
          font-size: 2.8vw;
        }
        @media ($min-1200){
          font-size: 30px;
        }
      }

      .text2 {
        font-family: $montserrat;
        font-size: 4vw;
        font-weight: 300;

        @media ($min-830){
          font-size: 2.5vw;
        }
        @media ($min-1200){
          font-size: 20px;
        }
      }
    }

    &.picture {
      .image {
        background-size: contain;
        bottom: 0;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
      }

      .text1,
      .text2{
        position: absolute;
        z-index: 1;
        bottom: 52px;
        span{
          display: inline;
          background: $white;
          box-shadow: 10px 0 0 $white, -10px 0 0 $white;
          bottom: 52px;
        }
      }
      .text1{
        color: $black;
        line-height: 1.2;
        margin: 6vw 9vw 0;
        font-size: 5vw;
        font-weight: 500;
        font-family: $oswald;
        @media ($min-830){
          margin: 4vw 5vw 0;
          font-size: 2.5vw;
        }
        @media ($min-1200){
          margin: 32px 50px 0;
          font-size: 30px;
        }
      }
      .text2{
        line-height: inherit;
        margin: 6vw 9vw 0;
        font-family: $montserrat;
        font-size: 3vw;
        font-weight: 300;
        background: $black-transparent;
        padding: 2px 10px;
        bottom: 6px;
        right: 0;
        span {
          box-shadow: none;
          background: none;
          color: $white;
        }
        @media ($min-830){
          font-size: 13px;
          margin: 4vw 5vw 0;
        }
        @media ($min-1200){
          font-size: 13px;
          margin: 32px 50px 0;
        }
      }
      .image{}
    }
  }
}
