.container-fluid {
  > div {
    &.users {
      padding: 0;
    }
  }
}

.users {
  .image {
    background-position: cover;
    background-size: cover;
    display: inline-block;
    padding: 0 0 100%;
    width: 100%;
    margin-bottom: -7px;

  }

  .inputs {
    .image {
      width: 100%;

      @media (min-width: 300px) {
        margin: 0 calc(50% - 150px);
        padding: 0 0 300px;
        width: 300px;
      }
    }
  }

  h1 {
    margin: 66px 0 11px 37px;
  }

  .active-members,
  .users {
    padding: 33px 37px;
  }

  .grid {
    height: 1800vw;

    @media (min-width: $mobile-breakpoint-width) {
      height: 200vw;
    }

    @media (min-width: $max-viewport-width) {
      height: 2400px;
    }
  }
}

.modal-body {
  .locked-notification {
    margin-top: 25px;
  }
}
