.container-fluid {
  > div {
    &.users {
      padding: 0;
    }
  }
}

.users {
  .active-members,
  .users {
    .name {
      color: $red;
      font-weight: bold;
    }
  }

  .grid {
    height: 200vw;

    @media (min-width: $max-viewport-width) {
      height: 2400px;
    }
  }
}
