.container-fluid {
  > div {
    &.users {
      padding: 0;
    }
  }
}

.users {
  h1 {
    margin: 66px 0 11px 37px;
  }

  .active-members,
  .users {
    padding: 33px 0 33px 37px;
  }

  .grid {
    height: 1800vw;

    @media (min-width: $mobile-breakpoint-width) {
      height: 200vw;
    }

    @media (min-width: $max-viewport-width) {
      height: 2400px;
    }
  }
}
