// colors

$anthracite: #1d1d1b;
$black: #000;
$dark-blue: #000207;
$dark-gray: #6f6f6f;
$medium-gray: #e0dbdb;
$gray: #e5e5e5;
$red: #d20a11;
$white: #fff;
$yellow: #ffdd02;

// special colors

$meta-nav-gray: #4e5350;
$mobile-menu-gray: #f2f2f2;
$initial-popup-warning-red: #ffdd02;
$initial-popup-warning-yellow: #d20a11;

// lengths

$mobile-breakpoint-width: 830px;
$max-viewport-width: 1200px;
$max-modal-width: #{$max-viewport-width * (2/3)};
$max-modal-height: #{$max-viewport-width / 3};

// opacities

$modal-backdrop: .8;
